:root {
  --color-1: #7905b1;
  --color-2: #2e0426;
  --color-3: #88a7fa;
  --color-4: #520569;
  --color-5: #d976d9;
  --color-6: #192eb7;
  --color-7: #7239e7;
  --color-8: #ad3ddb;
  --color-9: #6a47cc;
  --color-10: #efce68;
  --color-blanco: #ffffff;
  --color-negro: #000000;
  --color-oscuro2: #361f1f;
  --fuente-titulo: 'Raleway', sans-serif;
  --fuente-secundario: 'Gantari', sans-serif;

}

/* Configuracion Inicial*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  background-color: var(--color-blanco);
  font-family: var(--fuente-body);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--color-negro);
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Clases reutilizables */
.container {
  width: 85%;
  margin: 0 auto;
}



.text-center {
  text-align: center;
}


/* Header */
.header {
  display: flex;
  justify-content: space-between;
  height: 7rem;
  align-items: center;
  position: absolute;
  z-index: 100;
  width: 100%;
  left: 0;
  right: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3rem);
}

@media (max-width: 768px) {
  .header {
    width: 100%;
  }
}

.header span {
  font-size: 4.2rem;
  color: var(--color-3);
}

.header__logo {
  padding: 2rem;
  font-size: 3rem;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  color: var(--color-blanco);
}

.header__logo a {
  color: var(--color-blanco);
}

@media (max-width: 768px) {
  .header__logo {
    font-size: 2.4rem;
  }
}


@media (max-width: 768px) {
  .navegacion__container {
    display: none;
  }
}

/*====================== Animación|Navegación ==================== */
.navegacion__content li:nth-child(1) {
  animation: caida;
  animation-duration: .25s;
}

.navegacion__content li:nth-child(2) {
  animation: caida;
  animation-duration: .5s;
}

.navegacion__content li:nth-child(3) {
  animation: caida;
  animation-duration: .75s;
}

.navegacion__content li:nth-child(4) {
  animation: caida;
  animation-duration: 1s;
}

.navegacion__content li:nth-child(5) {
  animation: caida;
  animation-duration: 1.25s;
}

@keyframes caida {
  0% {
    transform: translateY(-200%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}



.navegacion__content {
  display: flex;
  gap: 2rem;
  justify-content: center;
  font-weight: bold;
  font-size: 2rem;
  font-family: 'Gantari', sans-serif;
  overflow: hidden;
}

.navegacion__content a {
  padding: 1rem 2rem;
  color: var(--color-blanco);
  font-weight: bold;
}



@media (max-width: 1368px) {
  .navegacion__content a {
    padding: 1rem;
  }
}

.navegacion__link :hover {
  border-bottom: 1px solid var(--color-3);
  color: var(--color-3);
}


.header__toggle {
  padding-right: 4rem;
}

.header__toggle i {
  padding: 1rem;
  font-size: 2rem;
  color: var(--color-blanco);
}

.header__toggle i:hover {
  color: var(--color-3);
  cursor: pointer;
}

.menu__user {
  display: none;
  font-family: var(--fuente-secundario);
}

/* Menu usuario */

.menu__user a {
  padding: .5rem 0;
  text-align: center;
  color: var(--color-negro)
}

.menu__user a:hover {
  color: var(--color-5);
}

.icon__user:hover .menu__user {
  display: flex;
  position: absolute;
  flex-direction: column;
  right: 10rem;
  top: 5rem;
  width: 15rem;
  border-radius: 1rem;
  padding: 2rem;
  background-color: rgba(255, 253, 253, 0.829);
  backdrop-filter: blur(3rem);
  box-shadow: 1px 1px 15px var(--color-negro);
  transition: all 300ms;
}

/* Carrito */
.carrito {
  display: none;
}

.icon__carrito:hover .carrito {
  display: flex;
  flex-direction: column;
  height: 30rem;
  background-color: rgba(255, 253, 253, 0.829);
  backdrop-filter: blur(3rem);
  box-shadow: 1px 1px 15px var(--color-negro);
  position: absolute;
  right: 5rem;
  top: 5rem;
  border-radius: 1rem;
  width: 20%;
  transition: all 300ms;
}

.carrito__heading {
  padding: 2rem;
  text-align: center;
  color: var(--color-negro);
  font-family: var(--fuente-titulo);
}

.carrito__lista {
  height: 60%;
  border-top: 1px solid #333;
}

/* Menu Movil */
.menu__celu {
  display: none;
}



@media (max-width: 768px) {

  /* Icono */
  .header__toggle {
    display: none;
  }

  .menu__celu {
    display: flex;
    position: absolute;
    right: 1rem;
    top: 2rem;
  }

  .menu__celu i {
    color: var(--color-blanco);
    font-size: 4rem;
    cursor: pointer;
  }

  /* Contenido icono */

}


/* Banner | Jesús */
.banner {
  background-image: url(../img/banner.jpg);
  height: 90rem;
  background-size: cover;
  background-position: center;
  box-shadow: 5px 5px 10px 5px var(--color-negro);
  display: flex;
  justify-content: center;
  align-items: center;
}

.barra-banner {
  background-color: var(--color-1);
  box-shadow: 5px 5px 10px var(--color-negro);
}

@media (max-width: 768px) {
  .barra-banner {
    margin-bottom: 1rem;
  }
}


.barra-content {
  height: 5rem;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 1366px) {
  .barra-content {
    height: 5.5rem;
  }
}

.barra-content i {
  color: var(--color-blanco);
  font-size: 3.2rem;
}

.barra-content i:hover {
  cursor: pointer;
  color: var(--color-10);
}

@media (max-width: 1368px) {
  .banner {
    height: 60rem;
  }
}

.listado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 15rem;
  height: 100%;
  width: 100%;
}

@media (max-width: 768px) {
  .listado {
    display: none;
  }
}

@media (max-width: 1366px) {
  .listado {
    margin-top: 5rem;
    margin-left: 0;
  }

}


.listado__elemento {
  box-shadow: 0px 0px 5px 6px rgba(255, 255, 255, 0.2);
  /* Horizontal | Vertical | Blur | Grosor */
  padding: 2rem;
  margin-bottom: 5rem;
  transition-property: transform;
  transition-duration: 300ms;
  width: 40%;
  background-color: var(--color-1);
  border-radius: 2rem;
  animation: animacion-banner 2s ease-in-out
}

/* ------- 2da versión de la animación del banner ------- */
/* ------- Sección de cositas feas :3 ------- */

/* @keyframes  animacion-banner{
  0% {
    transform: translateX(-600px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
  }
} */

/* Listado animación 1 */
/* .listado__elemento:nth-child(1){
    animation-name: entradaiz;
    animation-duration: 2s;
  }

  .listado__elemento:nth-child(3){
    animation-name: entradader;
    animation-duration: 2s;
  }

  @keyframes entradaiz{
    from{
      margin-right: 80rem;
    }
    to{
      margin-right: 0;
    }
  }

  @keyframes entradader{
    from{
      margin-left: 80rem;
    }
    to{
      margin-left: 0;
    }
  } */



@media (max-width: 1366px) {

  .listado__elemento {
    padding: 1rem;
    margin-bottom: 2rem;
    width: 50%;
  }
}


.listado__elemento:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.listado__heading {
  font-size: bold;
  font-size: 3.2rem;
  color: var(--color-blanco);
  text-align: center;
  font-family: 'Gantari', sans-serif;
  font-weight: bold;
}

.listado__texto {
  color: var(--color-blanco);
  line-height: 2rem;
  padding-top: 1rem;
  font-family: 'Gantari', sans-serif;
}



/* =======================Banner|Fin============================ */

/* Contenido Principal|Luna */
.contenedor__img {
  margin-top: 5rem;
  display: flex;
  gap: 5rem;
  justify-content: center;
}


@media (max-width: 768px) {
  .contenedor__img {
    flex-direction: column;
    gap: 3rem;
  }
}

@media (min-width: 1366) {
  .contenedor__img {
    display: grid;
  }
}


.img-contenido {
  width: 100%;
  height: 50rem;
  box-shadow: 0px 0px 15px var(--color-oscuro2);
}



@media (max-width: 768px) {
  .img-contenido {
    height: 30rem;
  }
}

@media (max-width: 1366px) {
  .img-contenido {
    height: 40rem;
  }
}

.img1 {
  position: relative;
}

.img1:hover,
.img2:hover {
  background-color: #2e0426;
}


.texto_1 {
  position: absolute;
  font-size: 48px;
  color: #ffffff;
  top: 8px;
  left: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.img2 {
  position: relative;
}

.texto_2 {
  position: absolute;
  font-size: 48px;
  color: #ffffff;
  top: 8px;
  left: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

@media (max-width: 1366px) {
  .img-contenido {
    object-fit: cover;
  }
}

.img-sale {
  margin-top: 5rem;
}


.img-sale img {
  height: 50rem;
  object-fit: cover;
  width: 100%;
}

@media (max-width: 768px) {
  .img-sale img {
    height: 30rem;
  }
}


.img3 {
  position: relative;
}

@media (max-width: 768px) {
  .img3 img {
    height: 60rem;
  }
}

.texto_3 {
  position: absolute;
  text-align: center;
  font-size: 20px;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-family: 'Gantari', sans-serif;
  font-style: italic;
}

.texto_4 {
  position: absolute;
  text-align: center;
  font-size: 148px;
  letter-spacing: 15px;
  color: #ffffff;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}


.texto_5 {
  position: absolute;
  text-align: center;
  font-size: 20px;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-family: 'Gantari', sans-serif;
  font-style: italic;
}

.texto_6 {
  position: absolute;
  text-align: center;
  font-size: 2rem;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Gantari', sans-serif;
  font-weight: bold;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 20px;
  cursor: pointer;
  color: var(--color-9);
}

.texto_6:hover {
  background-color: var(--color-9);
  color: var(--color-blanco);
  transition: 0.3s;
}

.extra-info {
  height: 5rem;
  width: 80%;
  margin: 3rem auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 4rem;
  margin-bottom: 5rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .extra-info {
    flex-direction: column;
    gap: 2rem;
    height: 10rem;
  }

  .contenedor_extra-info {
    margin-top: 5rem;
  }
}

.extra-info i {
  color: var(--color-5);
}

.envio_gratis {
  display: flex;
}

.texto_envio {
  flex-direction: column;
}

.envio_gratis h6 {
  display: flex;
  font-size: 1.6rem;
  font-family: 'Gantari', sans-serif;
  font-weight: bold;
  margin-left: 1rem;
  color: rgb(24, 24, 24);
}

.envio_gratis p {
  font-size: 1.3rem;
  font-family: 'Gantari', sans-serif;
  margin-left: 1rem;
  color: #61697e;
}

.tarjeta_info {
  display: flex;
}

.texto_tarjeta {
  flex-direction: column;
}

.tarjeta_info h6 {
  display: flex;
  font-size: 1.6rem;
  font-family: 'Gantari', sans-serif;
  font-weight: bold;
  margin-left: 1rem;
  color: rgb(24, 24, 24);
}

.tarjeta_info p {
  font-size: 1.3rem;
  font-family: 'Gantari', sans-serif;
  margin-left: 1rem;
  color: #61697e;
}

.cambios_info {
  display: flex;
}

.texto_cambios {
  flex-direction: column;
}

.cambios_info h6 {
  display: flex;
  font-size: 1.6rem;
  font-family: 'Gantari', sans-serif;
  font-weight: bold;
  margin-left: 1rem;
  color: rgb(24, 24, 24);
}

.cambios_info p {
  font-size: 1.3rem;
  font-family: 'Gantari', sans-serif;
  margin-left: 1rem;
  color: #61697e;
}

/* Fin contenido Principal | Luna */


/* =======================Productos|Inicio============================ */
.productos__heading {
  font-size: 3.8rem;
  font-weight: bold;
  margin-bottom: 6rem;
  font-family: 'Raleway', sans-serif;
}

.productos__barra{
  width: 80%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 6rem;
  margin: 0 auto;
}

.productos__barra a {
  width: 30rem;
  height: 5rem;
  cursor: pointer;
  background-color: #7239e7;
  border: none;
  font-size: 2.2rem;
  border-radius: 1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-blanco);
}

@keyframes barra-animacion{
  0%{
    transform: scale(1.5);
    opacity: 0;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}

.productos__barra a:hover {
  box-shadow: 5px 5px 10px var(--color-negro);
}

.productos {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.productos__listado {
  display: grid;
  grid-template-columns: repeat(3, 45rem);
  grid-template-rows: repeat(2, 45rem);
  gap: 5rem;
}

@media (max-width: 1366px) {
  .productos__listado {
    grid-template-columns: repeat(3, 30rem);
  }
}

@media (max-width: 768px) {
  .productos__listado {
    grid-template-columns: 80%;
    justify-content: center;
  }
}

.producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 0px 15px #ccc;
  border-radius: 1rem;
  transition: all 200ms;
}

@media (max-width: 1366px) {
  .producto {
    height: 40rem;
  }
}

.producto:hover {
  transform: scale(1.2);
}

.producto__info {
  text-align: center;
  padding: 2rem 0rem;
  font-family: 'Gantari', sans-serif;
}


.producto__heading {
  font-size: 2.4rem;
  padding-bottom: 1rem;
}

.producto__calif {
  padding: .5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.producto__precio {
  font-size: 2rem;
  font-weight: bold;
}

.producto__calif i {
  font-size: 2.2rem;
}

.producto__btn {
  margin-top: 1rem;
  width: 30rem;
  height: 3rem;
  border: none;
  font-weight: bold;
  border-radius: .5rem;
}

.producto__btn:hover {
  background-color: var(--color-1);
  color: var(--color-blanco);
  cursor: pointer;
}

.producto img {
  width: 60%;
  height: 30rem;
  padding: 2rem;
}

.productos__visibles {}

.productos__extensibles {
  display: none;
}

.mostrar__productos {}

/* Productos fin */


/* Página Usuario */
.contenedor__login {
  height: 100vh;
  background: rgb(0, 0, 0);
  background: linear-gradient(350deg, rgba(0, 0, 0, 1) 0%, rgba(93, 3, 153, 1) 100%, rgba(9, 9, 121, 1) 100%, rgba(0, 212, 255, 1) 100%);
}

.login__container {
  padding-top: 12rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.form__container {
  width: 60%;
  background-color: #ccc;
  height: 60rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 10px var(--color-negro);
}


.form__heading h2 {
  font-size: 3.4rem;
  text-align: center;
  padding: 2rem;
}



@media (max-width: 768px) {
  .form__container {
    width: 90%;
    background-color: #ccc;
    height: 60rem;
    border-radius: 1rem;
  }
}

.contenedor__ayuda {
  height: 100vh;
  background: rgb(0, 0, 0);
  background: linear-gradient(350deg, rgba(0, 0, 0, 1) 0%, rgba(93, 3, 153, 1) 100%, rgba(9, 9, 121, 1) 100%, rgba(0, 212, 255, 1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.provisorio__container {
  width: 60%;
  background-color: #ccc;
  height: 60rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 10px var(--color-negro);
}

@media (max-width: 768px) {
  .provisorio__container {
    width: 90%;
  }
}

.provisorio__container h2 {
  font-size: 4.2rem;
  text-align: center;
  padding: 2rem;
}

.provisorio__container p {
  font-size: 5rem;
  text-align: center;
}

.img-construccion {
  width: 32rem;
}

.ayuda__construccion {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Footer */
.footer {
  height: 40rem;
  background-color: #171718;
  width: 100%;
}


.footer__container {
  padding: 4rem;
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr) 2fr;
  color: var(--color-blanco);
}

@media (max-width: 768px) {
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    column-gap: 3rem;
  }
}

.footer__title {
  color: var(--color-3);
}

.footer__title span {
  color: var(--color-blanco);
}

.footer__column {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}


.footer__column a {
  color: var(--color-blanco);
  font-weight: bold;
  padding: .5rem;
}

.footer__column a:hover {
  color: var(--color-3);
}

.footer__column h2 {
  font-size: 4.2rem;
  margin-bottom: 2rem;
}

.footer__column h3 {
  font-size: 2.4rem;
  text-decoration: underline;
  margin-bottom: 2rem;
  padding-top: 5rem;
}

.footer__icon {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.footer__icon img {
  width: 15%;
  padding: 2rem;
  cursor: pointer;
}

.footer__icon img:hover {
  transform: scale(1.2);
  transition: all 200ms;
}

.footer_hr {
  margin-bottom: 1rem;
}

.column-2 {
  text-align: center;
}

.column-2 h3 {
  text-decoration: none;
}

/* -- Sobre Nosotros -- */
.recorte_banner {
  background-image: url(../img/banner.jpg);
  height: 20rem;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recorte_banner i {
  color: var(--color-blanco);
  font-size: 4rem;
  display: flex;
  position: absolute;
  left: 2%;

}


.sobre_nosotros_banner h1 {
  display: flex;
  font-family: var(--fuente-titulo);
  font-weight: bold;
  font-size: 5.2rem;
  color: var(--color-blanco);
  letter-spacing: 1px;
  justify-content: center;
  align-content: center;
  margin-top: 5rem;
}

@media (max-width: 1366px) {
  .sobre_nosotros_banner h1 {
    text-align: center;

  }
}

.parte1_nosotros {
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-content: center;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 5rem;
  padding: 2rem;
}

.parte1_nosotros h2 {
  font-family: 'Raleway', sans-serif;
  display: flex;
  font-size: 4.6rem;
  font-style: bold;
  letter-spacing: 4px;
  color: rgb(24, 24, 24);
  margin: 4rem 0 2rem 0;
}

.parte1_nosotros p {
  font-family: 'Gantari', sans-serif;
  font-size: 2.5rem;
  margin: 1rem 1rem 1rem 0;
  color: #2a2a2b;
  margin-bottom: 2rem;
}

.parte1_nosotros img {
  width: 48%;
  height: 48%;
  display: flex;
  float: right;
  margin: 0 2rem 2rem 2rem;
  box-shadow: 5px 5px 15px var(--color-negro);
}


.parte2_contacto i {
  color: rgb(24, 24, 24);
  display: flex;
  flex-direction: column;
  font-size: 4.6rem;
}

.whatsapp {
  display: flex;
}

.texto_whatsapp {
  flex-direction: row;
}

.whatsapp h6 {
  display: flex;
  font-size: 2.2rem;
  font-family: 'Gantari', sans-serif;
  font-weight: bold;
  margin-left: 1rem;
  color: var(--color-oscuro);
}

.instagram {
  display: flex;
}

.texto_instagram {
  flex-direction: row;
}

.instagram h6 {
  display: flex;
  font-size: 2.2rem;
  font-family: 'Gantari', sans-serif;
  font-weight: bold;
  margin-left: 1rem;
  color: var(--color-oscuro);
}

.facebook {
  display: flex;
}

.texto_facebook {
  flex-direction: row;
}

.facebook h6 {
  display: flex;
  font-size: 2.2rem;
  font-family: 'Gantari', sans-serif;
  font-weight: bold;
  margin-left: 1rem;
  color: var(--color-oscuro);
}

.footer {
  font-family: var(--fuente-titulo);
}

/* -- Fin / Sobre Nosotros -- */

/* Animación de carga */
.container__carga {
  width: 100%;
  height: 30vh;
}

.cubo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  animation: rotar 10s linear infinite;
}

.cubo>span p {
  font-size: 4rem;
}

.cubo>span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cubo>span {
  position: absolute;
  width: 15rem;
  height: 15rem;
  border: 2px solid var(--color-negro);
  box-shadow: inset 0px 0px 15px 5px rgba(0, 0, 0, 0.2),
    0px 0px 30px 1px rgba(82, 5, 105, .6);
  border-radius: .5rem;
}

.cubo>span:nth-child(1) {
  transform: rotateY(90deg)translateZ(1rem)
}

.cubo>span:nth-child(2) {
  transform: rotateY(90deg)translateZ(1rem)
}

.cubo>span:nth-child(3) {
  transform: rotateY(90deg)translateZ(-1rem)
}

.cubo>span:nth-child(4) {
  transform: rotateY(90deg)translateZ(1rem)
}

.cubo>span:nth-child(5) {
  transform: translateZ(-1rem)
}

.cubo>span:nth-child(6) {
  transform: translateZ(1rem)
}

@keyframes rotar {
  0% {
    transform: rotateY(0deg)rotateX(0deg);
  }

  50% {
    transform: rotateY(360deg)rotateX(360deg);
  }

  100% {
    transform: rotateY(0deg)rotateX(0deg);
  }
}